<div ng-controller="bugCtrl">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">Bug管理</strong> /
            <small>Bug</small>
        </div>
    </div>
    <div class="am-g">
        <form class="am-form am-u-sm-12">
            <div class="am-scrollable-horizontal">
                <table ng-table="tableParams" class="table am-table am-table-striped am-table-hover table-main am-table-bordered am-table-radius">
                    <tr ng-repeat="r in $data">
                        <td data-title="'id'" header-class="'text-left'" filter="{ 'id': 'text' }">{{r.id}}</td>
                        <td data-title="'标题'" header-class="'text-left'">{{r.name}}</td>
                        <td data-title="'类型'" header-class="'text-left'">{{r.type}}</td>
                        <td data-title="'状态'" header-class="'text-left'">{{r.status}}</td>
                        <td data-title="'修改日期'" header-class="'text-left'">{{r.modifydate}}</td>
                        <td data-title="'创建日期'" header-class="'text-left'">{{r.createdate}}</td>
                        <td data-title="'操作'" header-class="'text-left'">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button ng-click="edit(r)" ng-if="hasPermission('/system/bug/edit')"
                                            class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑
                                    </button>
                                    <button ng-click="delete(r.id)" ng-if="hasPermission('/system/bug/delete')"
                                            class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <input ng-model="f.name" placeholder="输入标题" class="am-form-field"/><textarea simditor="simditor" editor="editor" placeholder="输入描述内容"
                                                                                         ng-model="f.des"></textarea></form>
        <div class="am-u-sm-12 am-u-md-2 am-u-md-offset-8">
            <button type="button" ng-click="clean()" class="am-btn am-btn-block am-btn-warning"><span> 清空</span></button>
        </div>
        <div class="am-u-sm-12 am-u-md-2">
            <button type="button" ng-click="save()" ng-if="hasPermission('/system/bug/save')" class="am-btn am-btn-block am-btn-secondary">
                <span> 保存</span></button>
        </div>
    </div>
</div>