<div ng-controller="loginCtrl">
    <div class="header">
        <div class="am-g"><h1>Login</h1></div>
        <hr/>
    </div>
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            <form am-validator="" method="post" ng-submit="login()" class="am-form">
                <fieldset><input hidden="" ng-model="modulus"/><input hidden="" ng-model="exponent"/><label translate="login.email"> </label><input
                        type="email" ng-model="email" placeholder="{{'login.email.placeholder' | translate}}" autofocus=""
                        required="required"/><br/><label translate="login.pwd"></label><input type="password" ng-model="pwd"
                                                                                              ui-keyup="{'enter':'login($event)'}"
                                                                                              placeholder="{{'login.pwd.placeholder'|translate}}"
                                                                                              value="" required="required"/><br/>

                    <div ng-show="captcha"><label translate="login.captcha"> </label><img ng-src="{{captchaUrl}}"
                                                                                          ui-event="{ click : 'changeCaptcha()' }"
                                                                                          class="am-margin-left"/><br/><input type="text"
                                                                                                                              ng-model="code"
                                                                                                                              ui-keyup="{'enter':'login($event)'}"
                                                                                                                              placeholder="{{'login.captcha.placeholder'|translate}}"
                                                                                                                              value=""/></div>
                    <br/><label class="am-text-warning">{{msg}}</label><br/><label> <input type="checkbox" ng-model="remember"/>
                        {{'login.remember'|translate}}</label><br/>

                    <div class="am-cf"><input type="submit" value="{{'login.login'|translate}}" ng-disabled="!email||!pwd"
                                              class="am-btn am-btn-primary am-btn-sm am-fl"/><input type="button"
                                                                                                    value="{{'login.pwd.forget'|translate}}"
                                                                                                    ng-click="alert=!alert"
                                                                                                    class="am-btn am-btn-default am-btn-sm am-fr"/>
                    </div>
                </fieldset>
            </form>
            <hr/>
            <p>© 2015 Inc. Licensed under Apache license.</p>

            <div am-alert="am-alert" title="{{'login.pwd.forget'|translate}}" content="{{'login.admin'|translate}}" show="alert"></div>
        </div>
    </div>
</div>