<div ng-controller="roleCtrl">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">角色</strong> /
            <small>Role</small>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-md-6 am-cf">
            <div class="am-fl am-cf">
                <div class="am-btn-toolbar am-fl">
                    <div class="am-btn-group am-btn-group-xs"><a href="#/system/role.edit" ng-if="hasPermission('/system/role/save')"
                                                                 class="am-btn am-btn-secondary"><span class="am-icon-plus"></span> 新增</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form am-scrollable-horizontal">
                <table ng-table="tableParams" class="table am-table am-table-striped am-table-hover table-main am-table-bordered am-table-radius">
                    <tr ng-repeat="r in $data">
                        <td data-title="'id'" header-class="'text-left'" filter="{ 'id': 'text' }">{{r.id}}</td>
                        <td data-title="'名称'" header-class="'text-left'"><a ng-click="edit(r)">{{r.name}}</a></td>
                        <td data-title="'描述'" header-class="'text-left'">{{r.des}}</td>
                        <td data-title="'可访问资源'" width="220px" header-class="'text-left'">
                            <div style="width: 200px; padding: 5px;" am-popover="am-popover" content="{{r.res_names}}" trigger="hover" show="true"
                                 class="am-text-truncate">{{r.res_names}}
                            </div>
                        </td>
                        <td data-title="'创建日期'" header-class="'text-left'">{{r.createdate}}</td>
                        <td data-title="'操作'" header-class="'text-left'">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button ng-click="edit(r)" ng-if="hasPermission('/system/role/save')"
                                            class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 设置
                                    </button>
                                    <button ng-click="delete(r.id)" ng-if="hasPermission('/system/role/delete')"
                                            class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div ng-show="list.length==0" class="am-u-sm-4 am-u-sm-centered">还没有数据 赶紧添加吧~</div>
    </div>
</div>