<div ng-controller="userCtrl">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户</strong> /
            <small>User</small>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-md-6 am-cf">
            <div class="am-fl am-cf">
                <div class="am-btn-toolbar am-fl">
                    <div class="am-btn-group am-btn-group-xs"><a href="#/system/user.edit" ng-if="hasPermission('/system/user/save')"
                                                                 class="am-btn am-btn-secondary"><span class="am-icon-plus"></span> 新增</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form am-scrollable-horizontal">
                <table ng-table="tableParams" class="table am-table am-table-striped am-table-hover table-main am-table-bordered am-table-radius">
                    <tr ng-repeat="r in $data">
                        <td data-title="'id'" header-class="'text-left'" filter="{ 'id': 'text' }">{{r.id}}</td>
                        <td data-title="'头像'" header-class="'text-left'"><img ng-src="{{r.icon}}" width="48"/></td>
                        <td data-title="'用户名'" header-class="'text-left'"><a href="#/system/user.edit?id={{r.id}}">{{r.name}}</a></td>
                        <td data-title="'邮箱'" header-class="'text-left'">{{r.email}}</td>
                        <td data-title="'角色'" header-class="'text-left'">{{r.role_names}}</td>
                        <td data-title="'状态'" header-class="'text-left'">{{r.status |userStatus}}</td>
                        <td data-title="'创建日期'" header-class="'text-left'">{{r.createdate}}</td>
                        <td data-title="'操作'" header-class="'text-left'">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button ng-click="edit(r)" ng-if="hasPermission('/system/user/save')"
                                            class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑
                                    </button>
                                    <button ng-click="freeze(r)" ng-show="r.id!=1" ng-if="hasPermission('/system/user/freeze')"
                                            class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-unlock"></span> 冻结
                                    </button>
                                    <button ng-click="delete(r.id)" ng-show="r.id!=1" ng-if="hasPermission('/system/user/delete')"
                                            class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div ng-show="list.length==0" class="am-u-sm-4 am-u-sm-centered">还没有数据 赶紧添加吧~</div>
    </div>
</div>