<div ng-controller="ThesisCtrl">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf">
            <strong class="am-text-primary am-text-lg">论文</strong> /
            <small>Thesis</small>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-md-6 am-cf">
            <div class="am-fl am-cf">
                <div class="am-btn-toolbar am-fl">
                    <div class="am-btn-group am-btn-group-xs"><a href="#/thesis/thesis.upload" ng-if="hasPermission('/system/role/save')"
                                                                 class="am-btn am-btn-secondary"><span class="am-icon-plus"></span>上传论文</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <div class="am-panel am-panel-default">
                <div class="am-panel-bd">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-4">
                            <div am-datepicker="am-datepicker" data="dateStart" class="am-input-group am-datepicker-date">
                                <input type="text" placeholder="开始日期" readonly="readonly" class="am-form-field"/>
									<span class="am-input-group-btn am-datepicker-add-on">
										<button type="button" class="am-btn am-btn-warning"><span class="am-icon-calendar"></span></button>
									</span>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-4">
                            <div am-datepicker="am-datepicker" data="dateEnd" class="am-input-group am-datepicker-date">
                                <input type="text" placeholder="结束日期" readonly="readonly" class="am-form-field"/>
							<span class="am-input-group-btn am-datepicker-add-on">
							<button type="button" class="am-btn am-btn-warning"><span class="am-icon-calendar"></span></button></span>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-2"><a ng-click="setDate()" class="am-btn am-btn-warning am-btn-block"><span></span> 确定</a>
                        </div>
                        <div class="am-u-sm-12 am-u-md-2"><a ng-click="showChart()" class="am-btn am-btn-secondary am-btn-block"><span></span>上传论文</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main" style="height:500px" ng-show="chart" class="am-u-sm-12"></div>
            <form ng-show="!chart" class="am-form am-scrollable-horizontal">
                <table ng-table="tableParams" class="table am-table am-table-striped am-table-hover table-main am-table-bordered am-table-radius">
                    <tr ng-repeat="r in $data">
                        <td data-title="'id'" header-class="'text-left'" filter="{ 'id': 'text' }">{{r.id}}</td>
                        <td data-title="'资源名'" header-class="'text-left'">{{r.res.name}}</td>
                        <td data-title="'url'" header-class="'text-left'">{{r.url}}</td>
                        <td data-title="'来源'" header-class="'text-left'">{{r.from}}</td>
                        <td data-title="'浏览器'" header-class="'text-left'">{{r.browser}}</td>
                        <td data-title="'ip'" header-class="'text-left'">{{r.ip}}</td>
                        <td data-title="'创建日期'" header-class="'text-left'">{{r.date}}</td>
                        <td data-title="'操作'" header-class="'text-left'">{{r.operation | optionType}}</td>
                    </tr>
                </table>
            </form>
        </div>
        <div ng-show="list.length==0" class="am-u-sm-4 am-u-sm-centered">还没有数据 赶紧添加吧~</div>
    </div>
</div>